<div id="wrapper">
  <header id="header">
    <div class="container">
      <div class="logo"><a href="#"><img src="assets/logo.svg" alt="Emmerlyn" style="
          max-width: 100%;"></a></div>
      <nav id="nav">
        <div class="opener-holder">
          <a href="#" class="nav-opener"><span></span></a>
        </div>
        <a href="https://onlyfans.com/?ref=311379283" target="_blank" class="btn btn-primary rounded">Subscribe</a>
        <div class="nav-drop">
          <ul>
            <li class="active visible-sm visible-xs"><a href="#">Hey baby!</a></li>
            <li><a href="https://linktr.ee/emmer_lyn" target="_blank">My Link Tree</a></li>
            <li><a href="https://onlyfans.com/?ref=311379283" target="_blank">My Free OnlyFans!!!</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <section class="visual">
    <div class="container">
      <div class="text-block">
        <div class="heading-holder">
          <h1>Emmerlyn - Your sexy slut from next door</h1>
        </div>
        <p class="tagline">Hey there baby. I can be your dirty little slut any day of the week</p>
        <span class="info"><p>Welcome to <strong>my members only website</strong> you can sign up for my exclusive content not seen anywhere else </span>
      </div>
    </div>
    <img src="assets/img-decor-01.jpg" alt="" class="bg-stretch">
  </section>
  <section class="main">
    <div class="container">
      <div id="cta">
        <a href="https://onlyfans.com/?ref=311379283" target="_blank" class="btn btn-primary rounded">Subscribe Now</a>
        <!--
        <p>7 day trial available for a limited time</p>
        -->
      </div>
      <div class="row">
        <div class="text-box col-md-offset-1 col-md-10">
          <h2>What I Do</h2>
          <p>I love to strip off naked and be dirty for you. Tell me what you want and I will deliver! I love exposing my sexy tits and maybe my pussy if you are lucky enough. That's only for VIPS, would you want to be one baby</p>
        </div>
      </div>
    </div>
  </section>
  <section class="area">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h2 class="visible-xs visible-sm text-primary">Cum to me baby and we can have a good time!!!</h2>
          <ul class="visual-list">
            <li>
              <div class="img-holder">
                <img src="assets/heart.png" width="110" alt="">
              </div>
              <div class="text-holder">
                <h3>I am ready to be your horny personal slut</h3>
                <p>Tell me what you want me to do to you babe so I can make you spunk. </p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <img class="pull-left" src="assets/underwear.png" width="90" alt="">
              </div>
              <div class="text-holder">
                <h3>I love to wear sexy outfits!</h3>
                <p>I have so many sexy outfits from party dresses to bikinis. Take a look inside! </p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <img src="assets/breast.png" height="84" alt="">
              </div>
              <div class="text-holder">
                <h3>Wanna see my tits?</h3>
                <p>Join up up on my onlyfans link as a free member to see my beautiful nipples heheh!</p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <img src="assets/cherry.png" height="71" alt="">
              </div>
              <div class="text-holder">
                <h3>I love to be so submissive ohhh yeaahh!!</h3>
                <p>I love taking requests and being spoilt with new outfits. Buy me something on my amazon wishlist and I we definitely take photos of me stripping out of it on my FREE onlyfans account.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-7">
          <div class="slide-holder">
            <h2 class="hidden-xs hidden-sm text-primary">I am absolutely ready to be your personal slut!</h2>
            <div class="img-slide scroll-trigger"><img src="assets/img-01.jpg" height="624" width="1184" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <img src="assets/kitty.png" />
  </section>
</div>
